name: On Push

on:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  checks: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/call-pre-commit.yml
    secrets: inherit

  build:
    uses: ./.github/workflows/call-build.yml
    secrets: inherit

  test-sim:
    uses: ./.github/workflows/call-test-sim.yml
    secrets: inherit

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - build
      - test-sim
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether all needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
