name: On Push

on:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  checks: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/call-pre-commit.yml
    secrets: inherit

  build-ubuntu:
    uses: ./.github/workflows/call-build.yml
    secrets: inherit
    with:
      os: ubuntu-latest

  build-macos:
    uses: ./.github/workflows/call-build.yml
    secrets: inherit
    with:
      os: macos-26

  test-sim:
    uses: ./.github/workflows/call-test-sim.yml
    secrets: inherit

  test-hardware:
    needs: build-ubuntu
    uses: ./.github/workflows/call-test-hardware.yml
    secrets: inherit
    with:
      runs-on: n150
      build-os: ubuntu
      # TODO(bnorris): Update to 30 when ready for merge.
      timeout: 3

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - build-ubuntu
      - build-macos
      - test-sim
      - test-hardware
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether all needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: test-hardware
          allowed-failures: test-hardware
