name: On Push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  checks: write
  contents: read

jobs:
  pre-commit:
    uses: ./.github/workflows/call-pre-commit.yml
    secrets: inherit

  build-ubuntu:
    uses: ./.github/workflows/call-build-ubuntu.yml
    secrets: inherit

  build-macos:
    uses: ./.github/workflows/call-build-macos.yml
    secrets: inherit

  test:
    needs: [build-ubuntu, build-macos]
    uses: ./.github/workflows/call-test.yml
    secrets: inherit

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - build-ubuntu
      - build-macos
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether all needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
