name: On PR

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ["main"]

permissions:
  checks: write
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/call-pre-commit.yml
    secrets: inherit

  build-ubuntu:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/call-build.yml
    secrets: inherit
    with:
      os: ubuntu-latest

  build-macos:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/call-build.yml
    secrets: inherit
    with:
      os: macos-26

  test-sim:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/call-test-sim.yml
    secrets: inherit

  test-hardware:
    if: github.event.pull_request.draft == false
    needs: build-ubuntu
    uses: ./.github/workflows/call-test-hardware.yml
    secrets: inherit
    with:
      runs-on: n150
      build-os: ubuntu
      timeout: 30

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - build-ubuntu
      - build-macos
      - test-sim
      - test-hardware
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether all needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
