name: On PR

on:
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ["main"]

permissions:
  checks: write
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/call-pre-commit.yml
    secrets: inherit

  build:
    uses: ./.github/workflows/call-build-tt-mlir-fetchcontent.yml
    secrets: inherit
    with:
      # Use the large runner temporarily if you have to rebuild tt-mlir from scratch (e.g., during uplifts)
      #linux_runner: test1-large-runner-lang
      linux_runner: ubuntu-latest

  test-sim:
    uses: ./.github/workflows/call-test-sim.yml
    secrets: inherit

  check-all-green:
    if: always()
    needs:
      - pre-commit
      - build
      - test-sim
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether all needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: build, test-sim
          jobs: ${{ toJSON(needs) }}
